In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\yzhang\appdata\local\programs\python\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\yzhang\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "root", password = "kurama")

In [4]:
connection = connector.connect(user = "root", password = "kurama", db = "capstone")

ProgrammingError: 1049 (42000): Unknown database 'capstone'

In [5]:
connection = connector.connect(user = "root", password = "kurama" db = "captone")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1133932611.py, line 1)

In [6]:
connection = connector.connect(user = "root", password = "kurama", db = "captone")

ProgrammingError: 1049 (42000): Unknown database 'captone'

In [7]:
connection = connector.connect(user = "root", password = "kurama" db = "littlelemondb")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (658381333.py, line 1)

In [8]:
connection = connector.connect(user = "root", password = "kurama", db = "littlelemondb")

In [9]:
show_table_query = "SHOW tables"
cursor.execute(show_table_query)

NameError: name 'cursor' is not defined

In [10]:
cursor = conn.cursor()
show_table_query = "SHOW tables"
cursor.execute(show_table_query)

NameError: name 'conn' is not defined

In [11]:
cursor = db.cursor()
show_table_query = "SHOW tables"
cursor.execute(show_table_query)

NameError: name 'db' is not defined

In [12]:
cursor = cursor()
show_table_query = "SHOW tables"
cursor.execute(show_table_query)

NameError: name 'cursor' is not defined

In [13]:
cursor = connection.cursor()
show_table_query = "SHOW tables"
cursor.execute(show_table_query)

In [14]:
print(result)

NameError: name 'result' is not defined

In [15]:
print(results)

NameError: name 'results' is not defined

In [16]:
for results in cursor:
    print (results)

('bookings',)
('customerdetails',)
('menu',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

In [18]:
cursor = connection.cursor()
join_table_query = "
select c.firstname, c.lastname, c.contact, o.totalCost
from customerdetails c 
left join bookings b on c.customerID = b.customerID
left join orders o on b.bookingID = o.bookingID where o.totalCost >= 60"
cursor.execute(join_table_query)
for results in cursor:
    print (results)

SyntaxError: unterminated string literal (detected at line 2) (479765587.py, line 2)

In [19]:
cursor = connection.cursor()
join_table_query = "
select c.firstname, c.lastname, c.contact, o.totalCost
from customerdetails c 
left join bookings b on c.customerID = b.customerID
left join orders o on b.bookingID = o.bookingID where o.totalCost >= 60"
cursor.execute(join_table_query)
for results in cursor:
    print (results)

SyntaxError: unterminated string literal (detected at line 2) (479765587.py, line 2)

In [20]:
cursor = connection.cursor()
join_table_query = ("""select c.firstname, c.lastname, c.contact, o.totalCost from customerdetails c left join bookings b on c.customerID = b.customerID
left join orders o on b.bookingID = o.bookingID where o.totalCost >= 60;""")
cursor.execute(join_table_query)
for results in cursor:
    print (results)

('cc', 'dd', '133', Decimal('60'))